button {
  height: 60px;
  width: auto;
  outline: none;
  margin: 15px;
  border: none;
  border-radius: 200px;
  color: white;
}

button:hover {
  opacity: .5;
  transition: .3s ease-out;
}

.activeButton {
  background-color: #4D1E87 !important;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}